:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > p {
  font-size: 20px;
  font-weight: 400;
}

header > button {
  padding: 5px;
  font-size: large;
}

.employees {
  padding: 10px 20px;
  /* background-color: beige; */
  display: flex;
}

.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}

.employee__names {
  width: 30%;
}

.employee__single {
  width: 70%;
}

.employee__single--title {
    display: flex;
    justify-content: center;
}

.employee__single--para {
    width: 90%;
}

.employee__names--title,
.employee__single--title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.employee__names--list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding-left: 8px;
  justify-content: center;
  align-items: center;
}

.employee__names--item {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--item-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  background-color: var(--btn);
}

.employee__single--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.employee__single--info > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}

.addEmployee {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
  border: 0;
}

.addEmployee_create {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.addEmployee_create > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}
.addEmployee_create input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}

/* removes arrows from input type='number' */
.addEmployee_create input::-webkit-outer-spin-button,
.addEmployee_create input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addEmployee_create--submit {
  padding: 10px !important;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  cursor: pointer;
}
.addEmployee_create--submit:hover {
  background-color: var(--btn-hover);
}

.editEmployee {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
  border: 0;
}

.employee__single--edit {
    cursor: pointer;
}

.editEmployee_data {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.editEmployee_data > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}
.editEmployee_data input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}

/* removes arrows from input type='number' */
.editEmployee_data input::-webkit-outer-spin-button,
.editEmployee_data input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.editEmployee_data--submit {
  padding: 10px !important;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  cursor: pointer;
}
.editEmployee_data--submit:hover {
  background-color: var(--btn-hover);
}
